<!doctype html>
<html>

  <head>
    <title>PrivateWE</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
  </head>

  <body>
    <section id="container" class="container">
      <h1>PrivateWE</h1>
      <a href="/login" class="btn btn-default">Login</a>
      <a href="/signup" class="btn btn-default">Signup</a>
    </section>
  </body>

</html>
