* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

body {
  background: white;
  font-family: 'Rubik', sans-serif;
  color: #000;
}

nav {
	background-color: #86F1C4;
	padding: 1rem;
	height: 3rem;
	border-bottom: 1px solid #86F1C4;
  position: absolute;
  width: 100%;
}
li, ul {
  list-style: none;
  text-decoration: none;
  display: inline;
}

h1 {
  color: #379D1D;
  font-size: 10rem;
  font-family: 'Rubik', sans-serif;
}
h2,h3,h4,h5,h6{
  color: #000;
}

html {
  font-size: 20px;
}

input {
  text-align: center;
}

textarea, button{
  margin: 2%;
  resize: none;
}

form{
  color: #379D1D;
}

/*==============================================================================
===============================CLASSES =========================================
================================================================================*/

.container {
  text-align: center;
}

.menuItem {
	margin: 1rem;
	font-family: 'Rubik', sans-serif;
	color: white;
	font-size: .7rem;
	text-decoration: none;
}

.menuItem:hover {
	margin-bottom: 17px;
	border-bottom: 3px solid white;
	-webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -ms-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

.dashboard-title {
  text-align: center;
  font-size: 1.1rem;
  color: #379D1D;
}

.logout {
  margin: 20px
}

.client-profile,
.therapist-profile {
  text-align: center;
}

.btn{
  background-color: #86F1C4;
  color: #4F7F6B;
  margin: 1%;
}

.btn:Hover{
  background-color: #4F7F6B;
  color: #86F1C4;
}

.entrySection{
  width: 80%;
  margin: auto;
}

.journalContainer{
  border: 3.5px double #4F7F6B;
  width: 90%;
  height: 500px;
  margin: auto;
  overflow: auto;
}

.journals{
  border: 1px dashed #86F1C4;
  width: 95%;
  height: 300px;
  margin: 2%;
  overflow: auto;
  text-align: left;
}

#postDate{
  text-align: right;
}

#container{
  margin-top: 150px;
}
